@import url("reset.css");
@import url("fsq.css");

/***CORE***/
body {font-family:'BebasNeueRegular', 'Helvetica', 'Arial', 'sans-serif';}
#wrapper {width:1120px; margin: 0 auto;}
a {text-decoration:none; color:#0096ff; -webkit-transition:color 0.2s linear; -moz-transition:color 0.2s linear; transition:color 0.2s linear; outline:none;}
a:hover {color:#ccc;}
a:active {color:#000;}
article#left-col {float:left; margin-left: 25px;width:200px;}
article#content-col {float:right; width:810px;}
#colophon {display:none;}

/***MISC***/
hr {float:left; margin-top: -8px; width:88px; height:1px; background-color:#000000;}
hr.line {float:left; width:197px; height:1px; margin-top:2px; background-color:#000000;}
::selection {background-color: #00aeff;color: #fff;}
::-moz-selection {background-color: #00aeff;color: #fff;}
#success {color:green;}

/***LANGUAGE***/
#langbar {width:100%; height:20px; position:relative;; top:0; left:0; background-color:rgba(0, 0, 0, 0.7);}
#langbar p {float:right; margin:2px 45px 0 0; font-size:12px; color:white;}
#langbar a {font-size: 12px; color:#00aeff;}
#langbar a:hover {color:#ccc;}
#langbar a:active {color:#0096ff;}
.selected {color:#fff; font-size:12px;}


/*** LEFT COLUMN GOODIES ***/


/***HEADER***/
header {margin-top: 15px;}
header h1{font-size:124px; text-transform:uppercase; font-weight:normal;}
header span {float:left;}
header h1 span {margin-top:-40px; font-size: 69px; text-transform:uppercase;}
header p span {font-size:14px; margin-top: -16px; padding:0 7px;}
header h1 a {color:#000;} header h1 a:active {color:#0096ff;}
/***TAGLINE***/
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6, #contact h2 {float:left; text-transform:uppercase; font-weight:normal;}
hgroup h2 {font-size: 44px; margin-top: -15px;}
hgroup h3 {font-size:42px; margin-top: -10px;}
hgroup h5 {font-size:23px; margin-top: -8px; letter-spacing:0.06em;}
hgroup h4 { font-size:37px; margin-top:-4px; }
hgroup h6 { font-size: 39px; margin-top:-6px;}

/***CONTACT***/
#contact h2 {font-size:39px; margin-top: -15px;}
#name, #email, #subject, #message {
	float: left; width: 183px;
	padding:5px;
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 5px; 
	-moz-border-radius: 5px; 
	-webkit-border-radius: 5px;
	outline: none;
}
#contact p {float:left; margin-top: 10px;}
#contact form {float:left;}
#contact ol {list-style-type:none;}
#contact input, #contact textarea { font-family:'BebasNeueRegular', 'helvetica', 'arial'; font-size:13px; letter-spacing: 0.1em;}
#submitbtn {float:right; width:60px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
background:white; color:black;}

#name:hover, #email:hover, #subject:hover, #message:hover, #submitbtn:hover{
	background:#a7beff;   
	-webkit-transition:background-color 0.1s linear; 
	-moz-transition:background-color 0.1s linear; 
	transition:background 0.1s linear;
	}

#name.active, #email.active, #subject.active, #message.active, #submitbtn.active {
	border:2px solid #0096ff; 
	-webkit-transition:background-color 0.1s linear; 
	-moz-transition:background-color 0.1s linear;
	transition:background 0.1s linear;
	}
		
#submitbtn:active {
	background:#0096ff; 
	box-shadow: 0 -1px 2px black; color:white; 
	-webkit-transition:background-color 0.1s linear; 
	-moz-transition:background-color 0.1s linear; 
	transition:background 0.1s linear;
	}

.nameval, .mailval, .msgval, .subjectval {
	background: rgba(225, 0, 0, 0.8); color:#fff;
	font-family:'Helvetica','Arial','Sans-serif';
	display:none; font-size:12px; padding:5px;
	position: absolute; top:502px; left:270px;
	text-align:center; width:100px;
	-webkit-transition:background-color 0.1s linear; 
	-moz-transition:background-color 0.1s linear; 
	transition:background 0.1s linear;
	border-radius:5px; -moz-border-radius:5px; -webkit-border-radius:5px;
}

.nameval {top:468px;}
.subjectval {top:535px;}
.msgval {top:573px;}


#contact input:focus:required:invalid,
#contact textarea:focus:required:invalid {
	background: #ff9e9e;
	-webkit-transition:background-color 0.2s linear; 
	-moz-transition:background-color 0.2s linear; 
	transition:background 0.2s linear;
}

#contact input:required:valid,
#contact textarea:required:valid {
	background-color:#fff;
}

#contact input:focus + .mailval,
#contact input:focus + .nameval,
#contact input:focus + .subjectval,
#contact textarea:focus + .msgval  {
	display: block;
	}

#contact input:focus:required:valid + .mailval, 
#contact input:focus:required:valid + .nameval,
#contact input:focus:required:valid + .subjectval,
#contact textarea:focus:required:valid + .msgval {
	background:green;
	-webkit-transition:background-color 0.2s linear; 
	-moz-transition:background-color 0.2s linear; 
	transition:background 0.2s linear;
	
	}
	
#contact input:focus:required:valid + .mailval .inval-mail, 
#contact input:focus:required:valid + .nameval .inval-name,
#contact input:focus:required:valid + .subjectval .inval-subject,
#contact textarea:focus:required:valid + .msgval .inval-msg {
	display:none; 
	
	}
	
#contact input:focus:required:invalid + .mailval .val-mail, 
#contact input:focus:required:invalid + .nameval .val-name,
#contact input:focus:required:invalid + .subjectval .val-subject,
#contact textarea:focus:required:invalid + .msgval .val-msg {
	display:none;
	}

/*** CONTENT COLUMN ***/
#web {margin-top: 38px;}
#illustration, #print {margin:0;}
.portbox {width:200px; height:256px; float:left; margin:0;}
.portbox h2 {font-size: 24px;} .portbox h3 {font-size: 20px;} .portbox p {font-size: 16px;}
.portbox h2, .portbox h3 {font-weight:normal;} .portbox hr {width:190px; float:left; margin: 3px 0 3px 0;} 
.portbox a img:hover {opacity: 0.6; filter:alpha(opacity=60); -webkit-transition:opacity 0.2s linear; -moz-transition:opacity 0.2s linear; transition:opacity 0.2s linear;}


/*** SOCIAL MEDIA ***/
.social ul {list-style-type:none;} .social ul li {margin-right: 5px; font-size: 12px;}
.social li a {float:left; margin-right: 5px;}
.social li#twitter a {background-image:url('../images/twitico.png'); display:block; width:25px; height:25px; text-indent:-9999px;}
.social li#twitter a:hover {background-position:0 -26px;}
.social li#forrst {margin-top: 5px;}
.social li#forrst a {background-image:url('../images/forrst.png'); display:block; width:26px; height:26px; text-indent:-9999px;}
.social li#forrst a:hover {background-position:0 -26px;}

/*** FOOTER ***/
footer {clear:both; padding:10px 0 15px 12px;text-transform: uppercase;}
div.social {float:left; width:195px;}
div#copyright {float:right;}

