@import url("reset.css");

body {font-family:'HelveticaNeue-CondensedBold';}
a {text-decoration:none; color:#000000;}
a:hover, a:active {-webkit-transition:color 0.2s linear; -mozkit-transition:color 0.2s linear;   }
div#leftcol {
	margin-left: 25px;
	width:200px;
}
div#leftcol span {
	float:left;
}

/***MISC***/
hr {float:left; margin-top: 3px; width:88px; height:1px; background-color:#000000;}
hr.line {float:left; width:197px; height:1px; margin-top:2px; background-color:#000000;}

/***LANGUAGE***/
#langbar {width:100%; height:20px; position:absolute; top:0; left:0; background-color:rgba(0, 0, 0, 0.7);}
#langbar p {float:right; margin:2px 45px 0 0;}
#langbar a, #langbar p {font-size: 12px; color:white;}
#langbar a:hover {color:#a7beff;}
#langbar a:active {color:#0096ff;}
.selected {color:#0096ff; font-size:12px;}


/***HEADER***/
header {margin-top: 15px;}
header h1{font-size:93px; text-transform:uppercase;}
header h1 span {margin-top:-30px; font-size: 51.72px; text-transform:uppercase;}
header p span {font-size:14px; margin-top: -6px; padding:0 7px;}


/***TAGLINE***/
hgroup h1, hgroup h2, hgroup h3, hgroup h4, hgroup h5, hgroup h6, #contact h2 {float:left; text-transform:uppercase;}
hgroup h2 {font-size: 32px; margin-top: -15px;}
hgroup h3 {font-size:31px; margin-top: -10px;}
hgroup h5 {margin-top: -4px; font-size:17px; letter-spacing:0.06em;}
hgroup h4 { font-size:28px; margin-top:-4px; }
hgroup h6 { font-size: 29px; margin-top:-6px;}

/***CONTACT***/
#contact h2 {font-size:28px; margin-top: -15px;}
#namebar, #mailbar, #msgbar {
	float: left; width: 183px;
	padding:5px;
	background: #fff;
	border: 2px solid #ccc;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	outline: none;
}

#submitbtn {float:right; width:60px; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
background:white; color:black;}
#namebar:hover, #mailbar:hover, #msgbar:hover, #submitbtn:hover{background:#a7beff; -webkit-transition:background-color 0.2s linear;  
}
#namebar.active, #mailbar.active, #msgbar.active, #submitbtn.active {border:2px solid #0096ff; -webkit-transition:background-color 0.1s linear;}
#submitbtn:active {background:#0096ff; box-shadow: 0 -1px 2px black; color:white; -webkit-transition:background-color 0.1s linear;}

